.graph-holder {
  margin: 2em;
}

path.line {
  stroke-width: 2;
  fill: none;
  transition: all .2s;
  stroke: #1e6554;
  fill: #1e6554;
}

path.line.both {
  fill: #232323;
  opacity: .65;
  stroke-width: 0;
}

.grid {
  display: none;
  color: #232323;
}
.grid .domain {
  display: none;
}

.y.axis {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  /* display: none; */
}

.y.axis .tick > line {
  display: none;
}
.y.axis .domain {
  display: none;
}

.x.axis {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  opacity: 1;
  transition: .4s opacity;
}

.daily .active .x.axis {
  opacity: 0;
}

.x.axis .tick > line {
  display: none;
}
.x.axis .domain {
  display: none;
}

.focus text {
  font-size: 11px;
}
.focus text.main ,
.focus circle.main {
  fill: #12a985;
}
.focus text.both ,
.focus circle.both {
  fill: #525252;
}
.focus text.date {
  fill: #717171;
}
.focus {
  display: none;
}
.active .focus {
  display: initial;
}
.overlay {
  fill: none;
  pointer-events: all;
}