.graph-holder {
  margin: 2em;
}

path.line {
  stroke-width: 2;
  fill: none;
  transition: all .2s;
  cursor: pointer;
  stroke: #1e6554;
  fill: #1e6554;
}

path.line.main:hover {
  stroke-width: 3.4;
  stroke: #12a985;
  fill: #12a985;
}

path.line.both {
  fill: #232323;
  opacity: .65;
  stroke-width: 0;
}

.grid {
  display: none;
  color: #232323;
}
.grid .domain {
  display: none;
}

.y.axis {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  /* display: none; */
}

.y.axis .tick > line {
  display: none;
}
.y.axis .domain {
  display: none;
}

.x.axis {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.x.axis .tick > line {
  display: none;
}
.x.axis .domain {
  display: none;
}

label {
  cursor: pointer;
}

label > div {
  display: inline-block;
  margin-right: 1em;
  margin-left: .5em;
}
.graph svg .focus text {
  font-size: 11px;
}
.graph svg .focus text.main ,
.graph svg .focus circle.main  {
  fill: #12a985;
}
.graph svg .focus text.both ,
.graph svg .focus circle.both  {
  fill: #525252;
}
.graph svg .focus {
  display: none;
}
.graph svg:hover .focus {
  display: initial;
}
.overlay {
  fill: none;
  pointer-events: all;
}