body {
  text-align: center;
  background: #2f3133;
  /* background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); */
  color: #717171;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

@import url('./line-chart.css');
@import url('./block-chart.css');