body {
  text-align: center;
  background: #2f3133;
  /* background: linear-gradient(to bottom, #cfe7fa 0%,#6393c1 100%); */
  color: #717171;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
}

html {

  width:100%;
  height:100%;
}
label {
  cursor: pointer;
}

label > div {
  display: inline-block;
  margin-right: 1em;
  margin-left: .5em;
}

@import url('./line-chart.css');
@import url('./bar-chart.css');